<%= link_to("Back to SORD", {:action => 'list'}) %>

<h2>Edit SORD</h2>

<%= form_for(:sord, :url => {:action => 'update', :id => @sord.id}) do |f| %>

<table>
	<tr>
		<th>SORD</th>
		<td><%= f.text_field(:sord) %></td>
	</tr>
	<tr>
		<th>User ID</th>
		<td><%= f.text_field(:user_id) %></td>
	</tr>
</table>

<%= submit_tag("Update SORD") %>

<% end %>