<!DOCTYPE html>
<html>
<head>
  <title>StationeryStore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
	<div class="middle">
		<div id="head1"></div>

		<div id="head2">
			<div id="head2Top">
				<h1>Next Day Delivery</h1>
				<h2>anywhere in Ireland &amp; UK</h2>
			</div>
			<div id="head2Bottom">

			</div>
		</div><!--head2-->
		
		<div id="head3">
			<div id="head3Top">
				<% if user_signed_in? %>
					Signed in as: <%= current_user.email %><br />Not you?
					<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
				<% else %>
					<%= link_to "Sign In", new_user_session_path %> or 
					<%= link_to "Sign Up", new_user_registration_path %>
				<% end %>
			</div>
			<div id="head3Bottom"></div>
		</div><!--head3-->
	</div><!--middle-->
</div><!--header-->

<div class="middle">
	<div id="container">

<div id="nav">
	<div class="middle">
		<ul>
			<li><%= link_to("Home", "http://www.tradesupplyuk.eu/") %></li>
			<% if user_signed_in? %>
			<li><%= link_to("Contracts", "http://www.tradesupplyuk.eu/home.aspx?page=OrderPads") %></li>
			<li><%= link_to("Fast Order", "http://www.tradesupplyuk.eu/home.aspx?page=fastorder") %></li>
			<li><%= link_to("Accounts", "http://www.tradesupplyuk.eu/home.aspx?page=Accounts") %></li>
			<li><%= link_to("Authorise", "http://www.tradesupplyuk.eu/home.aspx?page=authorise") %></li>
			<li><%= link_to("About", "http://www.tradesupplyuk.eu/home.aspx?page=About") %></li>
			<li><%= link_to("Returns", "http://www.tradesupplyuk.eu/home.aspx?page=Returns") %></li>
			<li><%= link_to("Sords", :controller => 'sords', :action => 'list') %></li>
			<li><%= link_to("Sdels", :controller => 'sdels', :action => 'list') %></li>
			<% else %>
			<li><%= link_to("Create an Account", "http://www.tradesupplyuk.eu/home.aspx?page=CreateAccount") %></li>
			<li><%= link_to("About", "http://www.tradesupplyuk.eu/home.aspx?page=About") %></li>
			<li><%= link_to("Returns", "http://www.tradesupplyuk.eu/home.aspx?page=Returns") %></li>
			<li></li>
			<% end %>
		</ul>
	</div><!--middle-->
</div><!--nav-->

		<%= yield %>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
	</div><!--container-->
</div><!--middle-->

<div id="footer">
	<div class="middle">
		Footer
	</div><!--middle-->
</div><!--footer-->

</body>
</html>
